						<% var len; image.comments.length > 6 ? len = 6 : len = image.comments.length; for(var i = 0; i < len; i++) { %>
						<p><%= image.comments[i].author %>: <%= image.comments[i].text %></p> <% } %>