<% include templates/header %>
<link href="/stylesheets/css/home.css" rel="stylesheet" type="text/css">

	<div class="container-fluid" id="home">
		<div class="row">
			<div class="text-center">
				<div class="mx-auto">
					<h1>Traverzia</h1>
					<h5>Discover places to visit through the lenses of others!</h5>
				</div>
				<form class="form-inline form-group mt-4" action="/search" method="GET">
					<div class="input-group mx-auto searchbar col-lg-6 col-sm-8 col-12">
					  	<input type="text" class="form-control input-control" placeholder="Search">
					  	<span class="input-group-btn">
					    	<button class="btn btn-default btn-primary text-white" type="submit" name="q"><i class="fa fa-search"></i></button>
					  	</span>
					</div>
				</form>
				<div class="text-center mx-auto" id="home-buttons">
					<a href="/user" class="btn btn-lg btn-outline-primary">Start Discovering</a>
					<a href="/user/upload" class="btn btn-lg btn-outline-primary">Upload Image</a>
				</div>
			</div>
		</div>
	</div>

<% include templates/scripts %>

	<script type="text/javascript" src="/js/home.js"></script>

<% include templates/footer %>