<% include templates/header %>

	<div class="jumbotron jumbotron-fluid text-center">
		<h1>Welcome to Traverzia</h1>
		<p>Discover places to visit through the eyes of others!</p>
		<form class="form-inline my-2 my-lg-0 mx-auto" action="/search" method="GET" class="mt-4">
			<div id="search-bar">
				<input class="form-control mr-sm-2" type="text" name="search" placeholder="Search">
				<button type="submit" class="btn btn-primary my-2 my-sm-0">
					<i class="fa fa-search"></i>
				</button>
			</div>
		</form>
		<div class="col-12 mt-4">
			<a href="/user" class="btn btn-xl btn-primary">Start discovering</a>
			<a href="/user/upload" class="btn btn-large btn-primary">Upload new image</a>
		</div>
	</div>

<% include templates/scripts %>

	<script type="text/javascript" src="/js/home.js"></script>

<% include templates/footer %>