<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Traverzia</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="/stylesheets/css/main.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/home.css" rel="stylesheet" type="text/css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="common-nav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger text-white" href="/"><span id="nav-logo"><img src="/images/logo.png"></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="mt-2 mt-lg-0 ml-auto">
                    <ul class="navbar-nav">
                    	<li class="nav-item" >
                            <a class="nav-link text-center" href="/discover">Discover</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link text-center" href="/user/upload">Upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

	<div class="container-fluid" id="home">
		<div class="row">
			<div class="text-center">
				<div class="mx-auto">
					<h1>Traverzia</h1>
					<h5>Discover places to visit through the lenses of others!</h5>
				</div>
				<form class="form-inline form-group mt-4" action="/search" method="GET" id="search-form">
					<div class="input-group mx-auto searchbar col-lg-6 col-sm-8 col-12">
					  	<input type="search" class="form-control input-control" name="q" placeholder="Search">
					  	<span class="input-group-btn">
					    	<button class="btn btn-default btn-primary text-white" type="submit"><i class="fa fa-search"></i></button>
					  	</span>
					</div>
				</form>
				<div class="text-center mx-auto" id="home-buttons">
					<a href="/discover" class="btn btn-lg btn-outline-primary">Start Discovering</a>
					<a href="/user/upload" class="btn btn-lg btn-outline-primary">Upload Image</a>
				</div>
			</div>
		</div>
	</div>

<% include templates/scripts %>
<% include templates/footer %>