<% include templates/header %>
<link href="/stylesheets/css/login.css" rel="stylesheet" type="text/css">

	<div class="container-fluid" id="login">
		<div class="row">
			<div class="container text-center">
				<% if(success && success.length) { %>
        <div class="col-lg-6 col-xs-8 col-12 mx-auto alert alert-success" role="alert">
          <%= success %>
        </div>
				<% } %>
				<% if(error && error.length) { %>
        <div class="col-lg-6 col-xs-8 col-12 mx-auto alert alert-danger" role="alert">
          <%= error %>
        </div>
				<% } %>
		    </div>
			<div class="mx-auto mb-4 text-center">
				<h2>Login</h2>
				<h6>New to Traverzia? <a href="/signup" id="sign-up-link">Sign up!</a></h6>
			</div>
			<form class="mx-auto col-lg-6 col-sm-8 col-12" action="/login" method="POST" id="login-form" novalidate>
				<div class="form-group" id="username-field">
					<label for="username">Username</label>
					<input class="form-control" type="text" name="username" placeholder="Username" required>
					<div class="invalid-feedback">Please enter your username.</div>
				</div>
				<div class="form-group" id="password-field">
					<label for="password">Password</label>
					<input class="form-control" type="password" name="password" placeholder="Password" pattern=".{8,16}" required>
					<div class="invalid-feedback">Please enter your password.</div>
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-outline-primary btn-lg">Login <i class="fa fa-arrow-alt-circle-right"></i></button>
				</div>
			</form>
		</div>
	</div>

<% include templates/scripts %>
	<script type="text/javascript" src="/js/login.js"></script>
<% include templates/footer %>
