<% include templates/header %>
<link href="/stylesheets/css/upload.css" rel="stylesheet" type="text/css">

	<div class="container-fluid" id="upload">
		<div class="row">
			<div class="text-center">
				<div class="mx-auto mb-4">
					<h2>Share your travels!</h2>
				</div>
				<form class="mx-auto col-lg-6 col-sm-8 col-12" action="/user" method="POST" id="upload-form">
					<div class="form-group">
						<input class="form-control" type="url" name="source" placeholder="Image URL">
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="location" placeholder="Location" value="">
					</div>
					<div class="form-group">
						<textarea class="form-control" type="text" name="caption" rows="3" placeholder="Caption"></textarea>
					</div>
					<div>
						<button type="submit" class="btn btn-outline-primary btn-lg">Upload <i class="fa fa-upload"></i></button>
					</div>
				</form>
			</div>
		</div>
	</div>

<% include templates/scripts %>
<% include templates/footer %>