<% include templates/header %>
<link href="/stylesheets/css/user.css" rel="stylesheet" type="text/css">

	<div id="user-header">
		<div class="mx-auto text-center" id="user-meta">
			<h3>Username: <%= username %></h3>
			<h5>Bio: My name is Jace!</h5>
		</div>
	</div>
	
	<div class="container mt-4">
		<div class="col-12 text-center">
			<h5>My Travelogue</h5>
		</div>
		<div class="container mt-4" id="travelogue">
			<div class="row gallery">
			<% for(var i = 0; i < imageData.length; i++) { %>
				<% var image = imageData[i] %>
				<span class="col-lg-3 col-sm-6 col-12 text-center square">
					<div>
						<a href="/user/<%= image._id %>">
							<img class="img-fluid" src="<%= image.source %>">
						</a>
						<div class="figure-caption">
							<p class="location"><i class="fa fa-map-marker-alt"></i>&nbsp;&nbsp;<%= image.location %></p>
						</div>
					</div>
				</span>
			<% } %>
			</div>
		</div>
		<div class="row m-4">
			<div class="mx-auto text-center">
				<a href="/user/upload" class="btn btn-lg btn-outline-primary">Upload Image</a>
			</div>
		</div>
	</div>

<% include templates/scripts %>
<% include templates/footer %>