<% include templates/header %>

	<div class="container text-center">
		<h2>User: <%= username %></h2>
		
		<div class="row">
			<% for(image of imageData) { %>
			<div class="col-4">
				<img class="image-thumbnail" src="<%= image.img_src %>">
			</div>
			<% } %>
		</div>

		<div class="row mt-4 justify-content-center">
			<a href="/user/upload" class="btn btn-large btn-primary">Upload new image</a>
		</div>	
	</div>

<% include templates/scripts %>
<% include templates/footer %>