<% include templates/header %>
<link href="/stylesheets/css/user.css" rel="stylesheet" type="text/css">
	
	<div class="container-fluid" id="user">
		<div class="row">
			<div class="mx-auto text-center" id="username">
				<h3>Username: <%= username %></h3>
				<h5>Bio: My name is Jace!</h5>
			</div>
		</div>
		<div class="container">
			<div class="row gallery mt-4">
			<% for(var i = 0; i < imageData.length; i++) { %>
				<span class="col-lg-3 col-sm-6 text-center square">
					<img class="img-fluid" src="<%= imageData[i].img_src %>">
					<p class="location"><%= imageData[i].img_location %></p>
				</span>
			<% } %>
			</div>
		</div>
		<div class="row m-4">
			<div class="mx-auto text-center">
				<a href="/user/upload" class="btn btn-lg btn-outline-primary">Upload Image</a>
			</div>
		</div>
	</div>

<% include templates/scripts %>
<% include templates/footer %>