<% include partials/header.ejs %>
	<h2>User: <%= username %></h2>
	<ul class="gallery">
		<% for(image of imageData) { %>
			<li><img class="image-thumbnail" src="<%= image.src %>"</li>
		<% } %>
	</ul>
<% include partials/footer.ejs %>