#edit-image {
	margin-top: 92px;
	margin-bottom: 10px;
	padding: 0;
}

#edit-image .row {
	display: block;
	margin: 0;
}

@media screen and (min-width: 768px) {
	#content {
		display: flex;
	}
}

#edit-image #image-panel {
	padding: 0;
}

#edit-image #text-panel {
	padding: 20px;
}

#edit-image #text-panel .fa-trash-alt, #edit-image #text-panel .fa-times {
	float: right;
	color: rgb(169,169,169,0.6);
	margin: 0 5px;
}

#edit-image #text-panel .fa-trash-alt:hover, #edit-image #text-panel .fa-times:hover {
	color: #DC143C;
}

#edit-image #text-panel h6 {
	color: #000000;
}

#edit-image #text-panel p {
	margin: 0;
}

@media screen and (max-width: 768px) {
	#text-panel {
		margin-top: 20px;
	}
}

#comments {
	padding-top: 20px;
}

@media screen and (max-width: 992px) {
	#comments {
		padding: 20px 0;
	}
}