h1 {
	font-size: 4em;
}

h5 {
	color: #000000;
}

#home {
	background-image: url('../../images/home_bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#home-buttons a {
	margin: 7.5px;
	color: #FFFFFF !important;
}