body {
	font-family: Karla;
	overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	color: #00796B;
}

textarea {
	resize: none;
}

#nav-logo {
	font-size: 1.5em;
	font-weight: 700;
}

#nav-logo img {
	width: 40px;
	height: 40px;
	margin-bottom: 3px;
}

#common-nav input {
	border-color: #FFFFFF;
}

.navbar .navbar-nav .nav-link {
    height: 38px;
	font-weight: 700;
    color: #FFFFFF;
    margin: 0 5px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #26A69A;
}

.navbar .navbar-nav .dropdown-item:hover {
	background-color: #00796B;
	color: #FFFFFF;
}

.dropdown-menu, .dropdown-item {
	color: #FFFFFF;
}

.dropdown-menu #username {
	margin-bottom: 0;
}

.container-fluid {
	display: table;
	height: 100vh;
}

.container-fluid .row {
	display: table-cell;
	vertical-align: middle;
}

.searchbar input, .searchbar button {
	border-color: #00796B;
	border-radius: 0 !important;
}

.form-group input, .form-group textarea {
	border-color: #00796B;
}

.btn-primary {
	background-color: #00796B !important;
	border-color: #00796B !important;
	color: #000000;
}

.btn-primary:hover {
	background-color: #26A69A !important;
	border-color: #26A69A !important;
	color: #000000;
}

.btn-outline-primary {
	border-color: #00796B !important;
	color: #000000 !important;
}
.btn-outline-primary:hover {
	background-color: #26A69A !important;
	border-color: #00796B !important;
	color: #000000 !important;
}