#user-header {
	display: table;
	margin-top: 72px;
	width: 100%;
}

#user-meta {
	display: table-cell;
	vertical-align: middle;
	height: 200px;
	background-color: #A7FFEB;
}

#user-header a, #user-header i {
	float: left;
}

#user-header i {
	position: absolute;
	color: #00796B;
	font-size: 1.5rem;
	margin: 10px 0 0 10px;
}

h5 {
	color: #000000;
}

.img-thumbnail {
	border: none;
	border-radius: none;
}

.square {
	padding: 0;
	margin: 0;
}

.location {
	color: #000000;
	padding: 10px;
	margin: 0;
}