.alert-container {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#user-header {
	display: table;
	margin-top: 72px;
	width: 100%;
}

#user-meta {
	display: table-cell;
	vertical-align: middle;
	height: 200px;
	background-color: #A7FFEB;
}

#edit-button a, #edit-button i {
	float: right;
}

#edit-button i {
	position: absolute;
	color: #00796B;
	font-size: 1rem;
	margin: 10px 0 0 10px;
	opacity: 0.5;
}

#edit-button i:hover {
	opacity: 1;
}

#bio textarea {
	border: none;
	display: none;
}

h6 {
	color: #000000;
}

#travelogue h6 {
	font-size: 1.2em;
}

.image {
	padding: 0;
	margin: 0;
}

.location {
	font-size: 1.2em;
	font-weight: 700;
	color: #000000;
	padding: 10px;
	margin: 0;
}
