#image {
	margin-top: 92px;
	margin-bottom: 10px;
	padding: 0;
}

#image .row {
	display: block;
	margin: 0;
}

@media screen and (min-width: 768px) {
	#content {
		display: flex;
	}
}

#image #image-panel {
	padding: 0;
}

#image #text-panel {
	padding: 20px;
}

.fa-edit, .fa-arrow-alt-circle-left {
	float: right;
	color: rgb(169,169,169,0.6);
	margin: 0 5px;
}

#image #text-panel .fa-edit:hover, #image #text-panel .fa-arrow-alt-circle-left:hover {
	color: #00796B;
}

#image #text-panel h6 {
	color: #000000;
}

#image #text-panel p {
	margin: 0;
}

@media screen and (max-width: 768px) {
	#text-panel {
		margin-top: 20px;
	}
}

#comments {
	padding-top: 20px;
}

@media screen and (min-width: 768px) {
	#comments {
		padding: 20px 20px 0 20px;
	}
}