#image {
	margin-top: 92px;
	margin-bottom: 10px;
	padding: 0;
}

#image .row {
	display: block;
	margin: 0;
}

@media screen and (min-width: 768px) {
	#image .row {
		display: flex;
	}
}

#image #image-panel {
	padding: 0;
}

#image #text-panel {
	padding: 20px;
}

#edit-return {
	position: absolute;
}

.fa-edit, .fa-arrow-alt-circle-left {
	float: right;
	color: rgb(169,169,169,0.6);
	margin: 0 5px;
}

.fa-edit:hover, .fa-arrow-alt-circle-left:hover {
	color: #00796B;
}

#image #text-panel h6 {
	color: #000000;
}

#image #text-panel p {
	margin: 0;
}

@media screen and (max-width: 768px) {
	#text-panel {
		margin-top: 20px;
	}
}

#posted-by:hover {
	color: #26A69A;
}

.fa-map-marker-alt, #location-tag {
	color: #000000;
}

#comments-section {
	padding-top: 20px;
}

#comments-section h6 {
	color: #26A69A;
}

#comments-section .fa-edit {
	margin-top: 3px;
}

@media screen and (min-width: 768px) {
	#comments-section {
		padding: 20px 20px 0 20px;
	}
}
